/* Brady Heinz 8/23/26  2.2 Assignment */

body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b11313;
    color: white;
    text-align: center;
    padding: 25px;
    border-bottom: 8px solid #1d4f91;
}

main {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
    border: 3px solid #1d4f91;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #b11313;
}

header h2 {
    color: white;
}

section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #1d4f91;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1d4f91;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d9e6f5;
}

strong {
    color: #b11313;
}

footer {
    background-color: #1d4f91;
    color: white;
    text-align: center;
    padding: 15px;
}